body {
  font-family: sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

#container {
  position: relative;
  width: 90vw;
  margin: auto;
}

.CodeMirror {
  box-sizing: border-box;
  border: 1px black solid;
  font-size: 20px;
  height: 100%;
  width: 100%;
}

.code {
  font-family: Courier;
}

button {
  background: white;
  border: 1px black solid;
  box-sizing: border-box;
  box-shadow: 4px 4px rgb(200, 200, 200);
  font-size: 20px;
  height: 50px;
  /* margin: 0 10px 10px 0; */
}

button:hover {
  box-shadow: 4px 4px black;
}

button:focus {
  border-color: rgb(0, 0, 0);
  outline: none;
}

button:active:hover, button.down {
  transform: translate(2px, 2px);
  box-shadow: 2px 2px black;
}

button.run {
  width: 80%;
}

button.run:hover {
  box-shadow: 4px 4px rgb(43, 156, 212);
}

button.run:focus {
  border-color: rgb(43, 156, 212);
}

button.run:active:hover, button.run.down {
  box-shadow: 2px 2px rgb(43, 156, 212);
}

#presets {
  display: inline-block;
  height: 50px;
  flex-grow: 1;
}

#presets button {
  height: 30px;
}

#clock-wrapper {
  position: relative;
}

#clock-icon {
  position: absolute;
  top: 5px;
  left: 4px;
  filter: grayscale(1) contrast(1.5) opacity(0.5);
}

#clock-display {
  height: 30px;
  box-sizing: border-box;
  text-align: right;
  font-family: monospace;
  font-size: x-large;
  width: 4em;
}

#clock button {
  height: 30px;
}

.key-wrap {
  display: inline-block;
  width: 120px;
}

.key {
  background-color: rgb(243,243,243);
  border: solid 1px #ccc;
  box-sizing: border-box;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
  color: rgb(33,33,33);
  font-family: monospace;
  font-size: 11px;
  margin-left: 2px;
  padding: 1px 4px;
}

#main {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr 2fr;
  row-gap: 30px;
}

#menu {
  display: flex;
}

/* Hack. */
.CodeMirror-sizer {
  margin-bottom: 0 !important;
}

.player-id {
  display: inline-block;
  border: 1px dashed black;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  position: relative;
}

.editor {
  display: inline-block;
  min-width: 0;
}

#controls {
  display: inline-block;
}

.scopes {
  display: grid;
  font-size: 12px;
  grid-template-columns: 1fr 1fr;
  height: 0;
}

.scopes .scope {
  box-sizing: border-box;
  border: 1px black solid;
  min-height: 50px;
  min-width: 0;
  position: relative;
}

.scopes .scope h3 {
  margin: 0 5px;
  font-weight: bold;
}

.CodeMirror:not(.CodeMirror-focused) .CodeMirror-cursors {
  visibility: visible !important;
}

.editor {
  outline: solid 0px;
  transition: all 0.5s;
  z-index: 1;
}

.selected {
  outline: solid 2px red;
  transition: none;
}

.ran {
  outline: solid 10px greenyellow;
  transition: all 0.1s;
}

canvas {
  border: solid 1px black;
}

.remove-process {
  position: absolute;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 0%;
  padding: 12px 16px;
  transform: translate(0%, -50%);
  filter: grayscale(1) contrast(1.5) opacity(0.5);
}

#connect-box, #disconnect-box {
  margin-bottom: 20px;
}

#server-address {
  background: white;
  border: 1px black solid;
  box-sizing: border-box;
  font-size: 20px;
  padding-left: 10px;
  font-family: monospace;
  height: 50px;
  width: 14.5em;
}

#add-process-btn {
  margin-top: 20px;
}

#session-controls {
  display: flex;
  justify-content: space-between;
}

[hidden] {
  display: none;
}